html,
body {
  height: 100%;
  width: 100%;
}

.anchorBL {
  display: none;
}

.main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url('../images/index/bg.png');
}

/* 地图背景 */

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
}

/* 下部状态列表 */
.itemize_operation {
  height: 40px;
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}

.itemize_operation .sort_box {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.itemize_operation .sort {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333333;
  padding: 0 15px;
  cursor: pointer;
  height: 100%;
  margin-right: 1px;
}

.itemize_operation .sort:hover,
.itemize_operation .sort.active {
  background-color: #e1effc;
  color: #437be0;
}
